{% extends "sample_main/base.html" %} {% block style %}
<style>
  body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }
  main {
    display: grid;
    place-items: center;
    position: relative;
    top: 120px;
  }
  main h1 {
    color: #212529;
    font-size: 60px;
    width: 900px;
    text-align: center;
  }
  main h1 span {
    color: #364fc7;
  }
  main h1 span:last-child {
    color: #364fc7;
  }
  .git {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    /* background-color: rgb(30 41 59 / 1); */
    background-color: #364fc7;
    width: 500px;
    border-radius: 10px;
    justify-content: center;
    padding: 15px 0;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 60px;
  }
  a {
    text-decoration: none;
  }
  .git p {
    color: #fff;
  }
  .git:hover {
    background-color: #212529;
  }
  .git img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
</style>
{% endblock %} {% block content %} {% include "sample_main/unauth_header.html" %}
<main>
  <h1>
    Register for <span>FREE</span>, enjoy
    <span>UNLIMITED</span>
    transfers and claim your personal <span>verified</span> link
  </h1>
  <a href="/login/github">
    <div class="git">
      <img src="./../assets/github.svg" alt="logo" />
      <p>Sign up with GitHub</p>
    </div>
  </a>
  <!-- <a href="/login/google">
    <div class="git">
      <img src="./../assets/google.svg" alt="logo" />
      <p>Sign in with Google 🚀</p>
    </div>
  </a> -->
</main>
{%endblock %}
