<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Securely share files without leaving the terminal command-line environment
    </title>
    <meta
      content="With JTF, developers can securely and seamlessly transform files and folders right from the terminal, saving time and effort. Say goodbye to manual processes and hello to efficient workflows."
      name="description"
    />
    <meta
      content="Securely share files without leaving the command-line environment"
      property="og:title"
    />
    <meta
      content="With JTF, developers can securely and seamlessly transform files and folders right from the terminal, saving time and effort. Say goodbye to manual processes and hello to efficient workflows."
      property="og:description"
    />
    <meta
      content="https://jtf.zohiddev.me/assets/logo.png"
      property="og:image"
    />
    <meta
      content="Securely share files without leaving the command-line environment"
      property="twitter:title"
    />
    <meta
      content="With JTF, developers can securely and seamlessly transform files and folders right from the terminal, saving time and effort. Say goodbye to manual processes and hello to efficient workflows."
      property="twitter:description"
    />
    <meta
      content="https://jtf.zohiddev.me/assets/logo.png"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  {% block style %} {% endblock %}
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
